<div id="social-media-wrapper">

  <div id="google">
    <div class="row">
      <fa-icon [icon]="faGoogle" size="lg"></fa-icon>
      <span>Sign up With Google</span>
    </div>
  </div>

  <div id="facebook">
    <div class="row">
      <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
      <span>Sign up With Facebook</span>
    </div>
  </div>

  <div id="apple">
    <div class="row">
      <fa-icon [icon]="faApple" size="lg"></fa-icon>
      <span>Sign up With Apple</span>
    </div>
  </div>

  <div id="amazon">
    <div class="row">
      <fa-icon [icon]="faAmazon" size="lg"></fa-icon>
      <span>Sign up With Amazon</span>
    </div>
  </div>
</div>
