<section *ngIf="showForgotPasswordComponent" class="component-stack component-wrapper">
  <h2>Forgot Password</h2>

  <span class="otp-text"
    >We will send an OTP (One Time Password) to your registered email</span
  >

  <form [formGroup]="forgotPasswordForm">
    <label>Email</label>
    <input type="email" formControlName="email" />

    <div class="row space-around">
      <button (click)="navigateTo()" class="clear-button">Cancel</button>
      <button (click)="checkOTP()" [disabled]="forgotPasswordForm.invalid">
        Send OTP
      </button>
    </div>
  </form>
</section>

<section *ngIf="showOtpComponent" class="component-stack component-wrapper">
  <h2>One Time Password</h2>

  <span class="otp-text"
    >We have sent a OTP (One Time Password) to your email
  </span>
  <span>{{ otpEmailAddress }}</span>

  <form [formGroup]="otpCodeForm">
    <label>Please enter OTP to complete verification</label>

    <div class="row">
      <div class="otpCodeContainer">
        <input type="number" formControlName="codeOne" tabindex="0" maxlength="1" (keyup)="onKeyUpChange($event)"/>
      </div>
      <div class="otpCodeContainer">
        <input type="number" formControlName="codeTwo" tabindex="0" maxlength="1" (keyup)="onKeyUpChange($event)"/>
      </div>
      <div class="otpCodeContainer">
        <input type="number" formControlName="codeThree" tabindex="0" maxlength="1" (keyup)="onKeyUpChange($event)"/>
      </div>
      <div class="otpCodeContainer">
        <input type="number" formControlName="codeFour" tabindex="0" maxlength="1" (keyup)="onKeyUpChange($event)"/>
      </div>
      <div class="otpCodeContainer">
        <input type="number" formControlName="codeFive" tabindex="0" maxlength="1" (keyup)="onKeyUpChange($event)"/>
      </div>
      <div class="otpCodeContainer">
        <input type="number" formControlName="codeSix" tabindex="0" maxlength="1" (keyup)="onKeyUpChange($event)"/>
      </div>
    </div>

    <div class="row space-around btn-row">
      <button (click)="cancelOTP()" class="clear-button">Cancel</button>
      <button (click)="checkOTP()">Confirm Code</button>
      <button (click)="resendOTP()" class="accent-button">Resend Code</button>
    </div>
  </form>
</section>
