@import '../../../../styles/global';

:host {
  @extend .layout-general;
  min-height: 500px;
  max-width: 400px;
  width: 80%;
}

.component-wrapper {
  color: #5a5a5f;
  font-family: 'Cormoran Garamond';

  h2 {
    font-size: 32px;
    margin-bottom: 44px;
  }

  label {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Cormoran Garamond Medium';
  }

  label.forgot-password {
    color: $primary;
    cursor: pointer;
  }

  label.create-account {
    color: $primary;
    cursor: pointer;
  }

  input {
    margin-bottom: 10px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    width: 100%;
    text-transform: lowercase;

    &::placeholder {
      text-transform: capitalize;
      font-size: 16px;
    }
  }

  .btn {
    box-sizing: border-box;
    max-height: 50px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
  }

  button {
    @extend .btn;
    background-color: $primary;
    color: #fff;
    border: 2px solid $primary;

    &:hover {
      border: 2px solid darken($color: $primary, $amount: 5);
    }

    &:disabled {
      background-color: #5a5a5f;
      border: 2px solid #5a5a5f;
    }
  }

  button.clear-button {
    @extend .btn;
    background-color: #fff;
    color: $primary;
    border: 2px solid $primary;

    &:hover {
      border: 2px solid darken($color: $primary, $amount: 5);
    }

    &:disabled {
      background-color: #5a5a5f;
      border: 2px solid #5a5a5f;
    }
  }

  button.accent-button {
    @extend .btn;
    background-color: #73a580;
    color: #fff;
    border: 2px solid #73a580;

    &:hover {
      border: 2px solid darken($color: #73a580, $amount: 5);
    }
  }
}


.otpCodeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 75px;

  input {
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #5a5a5f;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.space-around {
  justify-content: space-between;
}

.row.space-around.btn-row {
  flex-wrap: wrap;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  height: auto !important;
}

.otp-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}
