<section class="component-stack component-wrapper">
  <h2>Forgot Password</h2>

  <span class="otp-text">We will send an OTP (One Time Password) to your registered email</span>

  <form [formGroup]="forgotPasswordForm">
    <label>Email</label>
    <input type="email" formControlName="email" />

    <div class="row space-around">
      <button (click)="navigateTo()" class="clear-button">Cancel</button>
      <button (click)="checkOTP()" [disabled]="forgotPasswordForm.invalid">
        Send OTP
      </button>
    </div>
  </form>
</section>
