@font-face {
  font-family: 'Cormoran Garamond Bold';
  src: url('../assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf');
}

@font-face {
  font-family: 'Cormoran Garamond';
  src: url('../assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf');
}

@font-face {
  font-family: 'Cormoran Garamond Light';
  src: url('../assets/fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf');
}

@font-face {
  font-family: 'Cormoran Garamond Medium';
  src: url('../assets/fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf');
}


@font-face {
  font-family: 'Proza Libre Bold';
  src: url('../assets/fonts/Proza_Libre/ProzaLibre-Bold.ttf');
}